@import "tailwindcss";

.heading{
  font-family: var(--font-poppins);
  color: var(--heading);
  font-weight: 700;
  font-size: 28px
}

.subheading{
  font-family: var(--font-montserrat);
  color: var(--subheading);
  font-weight: 600;
  font-size: 18px;
}

.subText {
  font-family: var(--font-montserrat);
  color: var(--subText);
  font-weight: 400;
  font-size: 14px;
}

.inputText {
  border: 1px solid;
  border-top-color: var(--shine-bright);
  border-right-color: var(--shine-dull);
  border-bottom-color: var(--shine-dull);
  border-left-color: var(--shine-bright);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --heading: #ffffff;
  --subheading: rgba(255, 255, 255, 0.8);
  --subText: rgba(255, 255, 255, 0.6);

  --shine-bright: rgba(255, 255, 255, 0.3);
  --shine-dull: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), var(--font-montserrat);
}

.bg-action-button {
  @apply bg-blue-600;
}

.hover-action-button:hover {
  @apply bg-blue-700;
}
